@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Shizuru&display=swap');

*{
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

html{
  height: 100%;
  background-color: #F6E7CB;
}

main{
  height: 100%;
  padding: 0;
}

.container{
  border: 3.5px solid;
  width: 14vw;
  height: 26vh;
  padding: 1vh 2vw 0 2vw;
  margin: 5vh 3vw;
  background-color: #A6C48A;
  border-radius: 15px;
  min-width:182px;
  min-height: 190px;
}

.container:hover{
  animation: popout .1s;
  animation-fill-mode: forwards;
}

@keyframes popout{
  from{
    transform:scale(1)
  }
  to{
    transform:scale(1.04)
  }
}

.wrapper{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


/* Modal Content */
.modal-content {
  background-color: #F6E7CB;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

textarea, input{
  background-color: #F6E4CF;
}

.inputs{
  margin-top: 4vh;
  display:flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

textarea{
  border-radius: 5px;
  box-shadow: .5px .5px .5px #999;
  resize: none;
}

input{
  border-radius: 4px;
  border: 1.2px solid;
  box-shadow: .2px .2px .2px #999;
}

#add{
  font-size: 18px;
}

/* Delete Icon */
.delete{
  cursor: pointer;
  padding-top: 9px;
}

.head{
  display:flex;
  justify-content: space-between;
}

p{
  height: 75%;
  word-wrap: break-word;
  overflow: auto;
  margin-right: -.5vw;
  padding-right: 12px;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414833;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 770px){
  .wrapper{
    justify-content: center;
  }
}